#* @vtlvariable name="module" type="com.jd.common.web.url.JdUrl" *#
#* @vtlvariable name="page" type="com.jd.common.util.base.PaginatedArrayList" *#
#macro (pagebarerp $page $form)
    <div class="clearfix pages">
        <div class="fr">&nbsp;共$!{page.TotalItem}条记录， 分$!{page.totalPage}页，转到第
            <input id="hidden_total_page" name="hidden_total_page" type="hidden" value="$!page.totalPage" />
            <input id="change_page_btn" name="change_page_btn" type="text" class="txt2" value="$!page.index" />
            <input type="hidden" id="pageNo" name="pageNo">
            <a class="btn-com" href="javascript:;" onclick="do_change_page('')" >确定</a>
        </div>
        <div class="pagin fr">
            #if($page)
                #set($pagePos = 2) ##当前页的尾巴长度
                #if($page.previousPageAvailable) ##如果能向上翻页
                <a href="javascript:;" onclick="do_change_page('1')">首页</a>
                <a href="javascript:;" onclick="do_change_page('!page.previousPage')">上一页</a>
                <a href="javascript:;" onclick="do_change_page('1')">1</a>
                #end
                #if($!page.index>$pagePos+2) <span class="dot">...</span>
                #end ##显示前面的省略号
                #foreach($i in [$pagePos..1]) ##增加前面的尾巴
                #if($!page.index - $i > 1)
                    #set($pageIndex= $!page.index - $i)
                    <a  href="javascript:;" onclick="do_change_page('$!pageIndex')">$pageIndex</a>
                #end
                #end
                <a class="curr" href="#">$!page.index</a>
                ##显示当前页号
                #foreach($i in [1..$pagePos]) ##增加后面的尾巴
                #if($!page.totalPage - $!page.index - $i > 0)
                    #set($pageIndex= $!page.index + $!i)
                    <a  href="javascript:;" onclick="do_change_page('$!pageIndex')">$pageIndex</a>
                #end
                #end
                #if($!page.totalPage - $!page.index > $pagePos+1) 
                    ##	.. 
                #end ##显示后面的省略号
                #if($page.nextPageAvailable) ##显示后面的页
                <a  href="javascript:;" onclick="do_change_page('$!page.totalPage')">$!{page.totalPage}</a>
                <a  href="javascript:;" onclick="do_change_page('$!page.nextPage')">下一页</a>
                <a  href="javascript:;" onclick="do_change_page('$!page.totalPage')">末页</a>
                #end
        </div>
    </div>
    <script type="text/javascript">
		function do_change_page(pageNo) {

        	if(!pageNo || pageNo == "") {

        		var change_page = document.getElementById("change_page_btn").value;
       	        var hidden_total_page = document.getElementById("hidden_total_page").value;
       	        if(/^\d+$/.test(change_page)) {

	       	        if(Number(change_page) > Number(hidden_total_page) ) {
	       	        	change_page = hidden_total_page;
	       	        }

	       	     	document.getElementById("pageNo").value=change_page;
	       	     	$form

	       	   		//location.href = "$url&pageNo="+change_page + "&t=" + Math.random();

	        	} else {
        			 alert("请输入数字");
        		}
        		
        	} else {

        		document.getElementById("pageNo").value=pageNo;
        		$form
        		//location.href = "$url&pageNo="+pageNo + "&t=" + Math.random();
        	}
        }
    </script>
            #end        
#end